@mixin title {
    font-size: 4rem;

    @media (max-width: 991px) {
        font-size: 3.5rem;
    }

    @media (max-width: 768px) {
        font-size: 3rem;
    }

    @media (max-width: 576px) {
        font-size: 2rem;
    }
}

@mixin content {
    font-size: 2rem;

    @media (max-width: 768px) {
        font-size: 1.5rem;
    }

    @media (max-width: 576px) {
        font-size: 1rem;
    }
}

@mixin btn($bg, $color) {
    padding: 15px 30px;
    border-radius: 30px;
    background: 0;
    border: 3px solid $red;
    background: $bg;
    color: $color;
    font-family: "Poppins",
        sans-serif;

    &:hover {
        background: $bg;
        border: 3px solid $bg;
        color: $color;
    }

    &:active {
        scale: 0.9;
    }
}